body {
    background-color: black;
    margin: 0;
    padding: 0;
}

#navbar {
    background-color: black;
}

#name {
    font-size: 33px;
}

#languages {
    background-color: #2C2E33
}

#contact {
    background-color: #FCFCFC;
}

.jumbotron {
    min-height: 500px;
}

.list-group-item {
    width: 220px;
    margin:auto;
    font-size: 18px
}